//font colors
$f_white: #fff;
$f_black: #343434;
$f_grey: #e6e6e6;
$f_green: #83af9b;
$f_khaki: #c8c8a9;
$f_champ: #f9cdad;
$f_pink_light: #fc9d9a;
$f_pink: #fe4365;
//bg colors
$bg_white: #fff;
$bg_grey: #e6e6e6;
$bg_green: #83af9b;
$bg_khaki: #c8c8a9;
$bg_champ: #f9cdad;
$bg_pink_light: #fc9d9a;
$bg_pink: #ff4568;

//text-shadow
$shadow_black: 2px 2px 6px #000;
$shadow_white: 3px 1px 4px #fff;
//box-shadow
$box_shadow_button: 0px 5px 7px #a02a43;
$box_shadow_form_elem: 0px 5px 7px #000;
